body {
    margin: 0;
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    height: 500px;
    width: 450px;
    background-color: white;
    border-radius: 5px;
    padding: 100px;
    box-shadow: 2px 2px 3px rgb(82, 81, 81);
}

.brand-logo {
    background: url(../images/60111.jpg);
    height: 100px;
    width: 100px;
    margin: auto;

}

.brand-title {
    color: rgb(11, 208, 247);
}

input,button,label {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.inputs {
    text-align: left;
    margin-top: 10px;
}

label {
    color: rgb(11, 208, 247);

}

input {
    padding: 10px;
    box-shadow: 3px 3px 2px rgb(82, 81, 81);
    border-radius: 10px;
    
}

button {
    background-color: rgb(11, 208, 247);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

}